<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">YelpCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <a class="nav-link disabled" href="/">LogIn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/">SignUp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/">LogOut</a>
            </li>
        </ul>
    </div>
    </nav>

    <h1><%= campgrounds.name %> </h1>

    <img src="<%= campgrounds.image %> ">
    
    <p><%= campgrounds.description %></p>

    <% campgrounds.comments.forEach(function(comment){ %>
        <p>
            <strong> <%= comment.author %> </strong> - <%= comment.text %>
        </p>
    <% }) %>

    <a class = "btn btn-success" href = "campgrounds/<%= campgrounds._id %>/comments/new">Add New Comment</a>
    <P>Trademark YelpCamp 2020</P>
</body>
</html>